name: Build and publish release

on:
  push:
    branches:
      - 'release/**'

env:
  SERVER_PROJECT_NAME: powerimo-secrets-web

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Determine Release Version
        id: set-version
        if: startsWith(github.ref, 'refs/heads/release/')
        run: |
          RELEASE_VERSION=$(echo "${GITHUB_REF#refs/heads/release/}")
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV
          echo "Release version detected: ${RELEASE_VERSION}"   

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      # - name: Update dependency graph
      #  uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: |
            powerimo/${{ env.SERVER_PROJECT_NAME }}:${{ env.RELEASE_VERSION }}

      - name: Logout from Docker Hub
        run: docker logout

